{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1 class="block mb-5 text-xl font-bold text-gray-900 dark:text-gray-300">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        
        
        {% comment %} <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a> {% endcomment %}
        <div>
            <label for="id_oldpassword" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{form.oldpassword.label}}
            </label>
            {{form.oldpassword}}              
            {% for error in form.oldpassword.errors %}
            <p><small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small></p>
            {% endfor %}
        </div>
        <div>
            <label for="id_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{form.password1.label}}
            </label>
            {{form.password1}}              
            {% for error in form.password1.errors %}
            <p><small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small></p>
            {% endfor %}
        </div>
        <div>
            <label for="id_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                {{form.password2.label}}
            </label>
            {{form.password2}}              
            {% for error in form.password2.errors %}
            <p><small class="text-sm text-red-700 dark:text-red-500">{{ error }}</small></p>
            {% endfor %}
        </div> 
        <button type="submit" name="action">{% trans "Change Password" %}</button>      
    </form>
    
    
{% endblock %}
