{% extends 'frontend/base.html' %}
{% load static i18n %}
{% block title %}{% translate "what_we_do" %}{% endblock title %}

{% block content %}

<div class="breadcrumb-wrapper breadcrumb-bg-light mb-5" >
    <div class="container h-100">
      <div class="row h-100 align-items-center">
        <div class="col-12">
          <div class="breadcrumb-content">
            <h2 class="breadcrumb-title">{% translate "What we do" %}</h2>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center">
                    <li class="breadcrumb-item">
                        <a href="{% url 'home'%}">{% translate "Home" %}</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page"><a href="#">{% translate "What we do" %}</a></li>
                </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
</div>


<div class="saasbox-tab-area mb-5">
    <div class="container">      
        <div class="row">
            <div class="col-12">
                <div class="tab--area">
                    <div class="tab-content" id="saasboxTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab--text mt-3 mt-lg-5">
                                    <h2 class="mb-3">{% translate "Design & Brinding" %}</h2>
                                    <p>It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="alert-info bi bi-check"></i>Vanilla JavaScript</li>
                                        <li><i class="alert-info bi bi-check"></i>Bootstrap 5</li>
                                        <li><i class="alert-info bi bi-check"></i>Creative Design</li>
                                    </ul>
                                    <div class="progress mt-4">
                                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><span class="d-block fz-12">Clients Satisfaction Rate: 90%</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab-thumb mt-5 ms-lg-5"><img src="{% static 'frontend/img/core-img/download.png' %}" alt=""></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="saasbox-tab-area mb-5">
    <div class="container">      
        <div class="row">
            <div class="col-12">
                <div class="tab--area">
                    <div class="tab-content" id="saasboxTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab-thumb mt-5 ms-lg-5"><img src="{% static 'frontend/img/core-img/web-development.jpg' %}" alt=""></div>
                                </div>
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab--text mt-3 mt-lg-5">
                                    <h2 class="mb-3">{% translate "Web Development" %}</h2>
                                    <p>It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="alert-info bi bi-check"></i>Vanilla JavaScript</li>
                                        <li><i class="alert-info bi bi-check"></i>Bootstrap 5</li>
                                        <li><i class="alert-info bi bi-check"></i>Creative Design</li>
                                    </ul>
                                    <div class="progress mt-4">
                                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><span class="d-block fz-12">Clients Satisfaction Rate: 90%</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="saasbox-tab-area mb-5">
    <div class="container">      
        <div class="row">
            <div class="col-12">
                <div class="tab--area">
                    <div class="tab-content" id="saasboxTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab--text mt-3 mt-lg-5">
                                    <h2 class="mb-3">{% translate "Mobile Development" %}</h2>
                                    <p>It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="alert-info bi bi-check"></i>Vanilla JavaScript</li>
                                        <li><i class="alert-info bi bi-check"></i>Bootstrap 5</li>
                                        <li><i class="alert-info bi bi-check"></i>Creative Design</li>
                                    </ul>
                                    <div class="progress mt-4">
                                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><span class="d-block fz-12">Clients Satisfaction Rate: 90%</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab-thumb mt-5 ms-lg-5"><img src="{% static 'frontend/img/core-img/mobile.png' %}" alt=""></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="saasbox-tab-area mb-5">
    <div class="container">      
        <div class="row">
            <div class="col-12">
                <div class="tab--area">
                    <div class="tab-content" id="saasboxTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab-thumb mt-5 ms-lg-5"><img src="{% static 'frontend/img/core-img/seo.jpg' %}" alt=""></div>
                                </div>
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab--text mt-3 mt-lg-5">
                                    <h2 class="mb-3">{% translate "SEO" %}</h2>
                                    <p>It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="alert-info bi bi-check"></i>Vanilla JavaScript</li>
                                        <li><i class="alert-info bi bi-check"></i>Bootstrap 5</li>
                                        <li><i class="alert-info bi bi-check"></i>Creative Design</li>
                                    </ul>
                                    <div class="progress mt-4">
                                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><span class="d-block fz-12">Clients Satisfaction Rate: 90%</span>
                                    </div>
                                </div>
                                
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="saasbox-tab-area mb-5">
    <div class="container">      
        <div class="row">
            <div class="col-12">
                <div class="tab--area">
                    <div class="tab-content" id="saasboxTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab--1">
                            <div class="row align-items-center justify-content-center">
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab--text mt-3 mt-lg-5">
                                    <h2 class="mb-3">{% translate "Marketing" %}</h2>
                                    <p>It's crafted with the latest trend of design &amp; coded with all modern approaches. It's a robust &amp; multi-dimensional usable template.</p>
                                    <ul class="list-unstyled">
                                        <li><i class="alert-info bi bi-check"></i>Vanilla JavaScript</li>
                                        <li><i class="alert-info bi bi-check"></i>Bootstrap 5</li>
                                        <li><i class="alert-info bi bi-check"></i>Creative Design</li>
                                    </ul>
                                    <div class="progress mt-4">
                                        <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div><span class="d-block fz-12">Clients Satisfaction Rate: 90%</span>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-9 col-md-6">
                                    <div class="tab-thumb mt-5 ms-lg-5"><img src="{% static 'frontend/img/core-img/marketing.jpg' %}" alt=""></div>
                                </div>
                            </div>
                        </div>             
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
